extends layout

block menu
    +menu

block title
    | Contribute

block content
    .container
        h3
            | Contribute to 
            = url
        p
            | Upon submission we will review it at our first chance. Do not worry, we merely want to avoid spam and insults. So please contribute 
            +fa("smile-o")
            |.

        +messages(messages)

        if preview
            .contribution-wrapper
                h2
                    +avatar( user, 30 )
                    | Preview: 
                    = subject
                .markdown
                    != preview

        if hideForm
            p
                a.btn.btn-default.pull-right(href=url) Back
        else
            form(method='post',role='form')

                +enum-field("type", "Type", {
                    "example": "Example - Explain how this can be used",
                    "testcase":"Testcase - Suggest new testcases",
                    "requestClarification":"Request for clarification",
                    "referenceImplementation":"Suggest reference implementation",
                    "proposal":"Proposal - Propose an augmentation to the standard",
                    "comment":"Comment - Augment the current definition"
                },type)
                +text-field("subject", "Subject", subject)
                .form-group
                    label Text - 
                        | You can use
                        a(href="https://help.github.com/articles/markdown-basics/",target="_blank")  Markdown
                    textarea(name="text",rows="10").form-control= text
                a.btn.btn-default.pull-right(href=url) Back
                button.btn.btn-primary(type='submit',name='create',value='yes') Submit
                button.btn.btn-default(type='submit',name='preview',value='yes') Preview
