mixin addVoteForm

    .form-group
        label Cast programmers's vote
        select(name="programmerVote").form-control
            +textOption( programmerVote, "", "<no vote>" )
            each programmerAnswer in programmerAnswers || []
                +textOption( programmerVote, programmerAnswer )


    hr

    h4 Cast system's vote

    .form-group
        label System name
        input(type="text", name="systemName", list="forth-systems", value=systemName).form-control
        datalist(id="forth-systems")
            option(value="")
            option(value="CForth" )
            option(value="Forth 7 cross compilers" )
            option(value="Gforth" )
            option(value="IronForth" )
            option(value="JavaForth" )
            option(value="MPE Forth cross compilers (all targets)" )
            option(value="MinForth" )
            option(value="Open Firmware" )
            option(value="SwiftForth" )
            option(value="SwiftX" )
            option(value="TurboForth" )
            option(value="VFX Forth" )
            option(value="amForth" )
            option(value="bigForth" )
            option(value="iForth" )

    .form-group
        label System conformity
            = systemConformity
        select(name="systemConformity").form-control
            +textOption( systemConformity, "", "<no vote>" )
            +textOption( systemConformity, "none / other" )
            +textOption( systemConformity, "Forth 2012" )
            +textOption( systemConformity, "Forth 1994" )

    .form-group
        label System vote
            = systemVote
        select(name="systemVote").form-control
            +textOption( systemVote, "", "<no vote>" )
            each systemAnswer in systemAnswers || []
                +textOption( systemVote, systemAnswer )


mixin addReplyForm( opts )
    - opts = opts || {}
    +messages(messages)

    if preview
        .preview.reply-wrapper
            h2 Preview
            h3
                +avatar( user, 30 )
            .markdown
                if programmerVote
                    b Programmer Vote: 
                    = programmerVote
                    br
                if systemVote
                    b System Vote [
                        = systemName
                        |  / 
                        = systemConformity
                        | ]: 
                    = systemVote
                    br
                != preview

    if hideForm
        p
            a.btn.btn-default.pull-right(href=url) Back
    else
        form(method='post',role='form')
            //if isOriginalAuthor
            //    +checkbox-field("newVersion", "Publish as new contribution text (will be shown on top instead of current content)", newVersion)
            +selectState("newState")
            if contributionState == "voting"
                .well
                    p
                        | This proposal in the 
                        i Call for Vote
                        |  - state.
                        | You can vote on this proposal for a system or programmer below.
                    +addVoteForm
            else
                .form-group.voting-answers.hidden
                    label Programmer Answers, please provide one answer per line:
                    textarea(name="programmerAnswers",rows="4").form-control= programmerAnswers
                .form-group.voting-answers.hidden
                    label System Answers, please provide one answer per line:
                    textarea(name="systemAnswers",rows="6").form-control= systemAnswers
                +hidden-field("createAnswers", "0")

            .form-group
                label Text - 
                    | You can use
                    a(href="https://help.github.com/articles/markdown-basics/",target="_blank")  Markdown
                textarea(name="text",rows="10").form-control= text
            a.btn.btn-default.pull-right(href=url) Back
            button.btn.btn-primary(type='submit',name='create',value='yes') Submit
            button.btn.btn-default(type='submit',name='preview',value='yes') Preview
