mixin addVoteForm
    .form-group
        label Cast programmer's vote
        select(name="systemVote").form-control
            +textOption( newProgrammerVote, "", "<no vote>" )
            +textOption( newSystemVote, "conforms to ANS Forth." )
            +textOption( newSystemVote, "already implements the proposal in full since release [ ]." )
            +textOption( newSystemVote, "implements the proposal in full in a development version." )
            +textOption( newSystemVote, "will implement the proposal in full in release [ ]." )
            +textOption( newSystemVote, "will implement the proposal in full in some future release." )
            +textOption( newSystemVote, "There are no plans to implement the proposal in full in [ ]." )
            +textOption( newSystemVote, "will never implement the proposal in full." )

    hr

    .form-group
        label Cast system's vote
        input(type="text", name="newSystemName", list="forth-systems").form-control
        datalist(id="forth-systems")
            +textOption( newSystemVote, "", "<no vote>" )
            +textOption( newSystemVote, "CForth" )
            +textOption( newSystemVote, "Forth 7 cross compilers" )
            +textOption( newSystemVote, "Gforth" )
            +textOption( newSystemVote, "IronForth" )
            +textOption( newSystemVote, "JavaForth" )
            +textOption( newSystemVote, "MPE Forth cross compilers (all targets)" )
            +textOption( newSystemVote, "MinForth" )
            +textOption( newSystemVote, "Open Firmware" )
            +textOption( newSystemVote, "SwiftForth" )
            +textOption( newSystemVote, "SwiftX" )
            +textOption( newSystemVote, "TurboForth" )
            +textOption( newSystemVote, "VFX Forth" )
            +textOption( newSystemVote, "amForth" )
            +textOption( newSystemVote, "bigForth" )
            +textOption( newSystemVote, "iForth" )

    .form-group
        label Cast programmer's vote
        select(name="programmerVote").form-control
            +textOption( newProgrammerVote, "", "<no vote>" )
            +textOption( newProgrammerVote, "I have used (parts of) this proposal in my programs." )
            +textOption( newProgrammerVote, "I would use (parts of) this proposal in my programs if the systems I am interested in implemented it." )
            +textOption( newProgrammerVote, "I would use (parts of) this proposal in my programs if this proposal was in the Forth standard." )
            +textOption( newProgrammerVote, "I would not use (parts of) this proposal in my programs." )


mixin addReplyForm( opts )
    - opts = opts || {}
    +messages(messages)

    if preview
        .preview.reply-wrapper
            h2 Preview
            h3
                +avatar( user, 30 )
            .markdown
                != preview

    if hideForm
        p
            a.btn.btn-default.pull-right(href=url) Back
    else
        form(method='post',role='form')
            //if isOriginalAuthor
            //    +checkbox-field("newVersion", "Publish as new contribution text (will be shown on top instead of current content)", newVersion)
            +selectState("newState")
            if false
                .well
                    p
                        | This proposal in the 
                        i Call for Vote
                        |  - state.
                        | You can vote on this proposal for a system or programmer below.
                    +addVoteForm

            .form-group
                label Text - 
                    | You can use
                    a(href="https://help.github.com/articles/markdown-basics/",target="_blank")  Markdown
                textarea(name="text",rows="10").form-control= text
            a.btn.btn-default.pull-right(href=url) Back
            button.btn.btn-primary(type='submit',name='create',value='yes') Submit
            button.btn.btn-default(type='submit',name='preview',value='yes') Preview
