extends committee

block title
    | Add Vote

block committeeContent
    .container
        h3
            | Create Vote
        ul
            li Ask a simple question using the subject.
            li If the question is related to a contribution, please select it.
            li If additional context is required, please use the text field.

        +messages(messages)

        if preview
            +vote({subject, text})

        if hideForm
            p
                a.btn.btn-default.pull-right(href=url) Back
        else
            form(method='post',role='form')

                +foreign-grouped-field("contribution", "Contribution", contributions, contribution, { groupBy: "type", composeName: item => `[${item.contributionState}] ${item.subject}`  })

                +text-field("subject", "Subject", subject)
                .form-group
                    label Text - 
                        | You can use
                        a(href="https://help.github.com/en/github/writing-on-github/basic-writing-and-formatting-syntax",target="_blank")  Markdown
                    textarea(name="text",rows="10").form-control= text
                button.btn.btn-primary(type='submit',name='create',value='yes') Submit
                button.btn.btn-default(type='submit',name='preview',value='yes') Preview
