extends committee

block menu
    +menu

block title
    | Cast Vote

block committeeContent
    .container
        h3
            | Cast Vote

        +messages(messages)

        +vote(vote)

        if hideForm
            p
                a.btn.btn-default.pull-right(href="/profile/committee/votes/observe/#{id}") Observe Voting
        else
            form(method='post',role='form')
                button.btn.btn-default(type='submit',name='castVote',value='yes') Yes
                button.btn.btn-default(type='submit',name='castVote',value='no') No
                button.btn.btn-default(type='submit',name='castVote',value='abstain') Abstain
