//- (c)2015 by Gerald Wodni
if contributions
    .contributions-wrapper
        h2
            a(href="/profile/contribute"+urlPath).btn.btn-default
                +fa("plus")
                |  Contribute
            | Contributions
        each contribution in contributions
            .contribution-wrapper
                h2
                    +avatar( contribution.users, 48 )
                    = contribution.contributions.subject
                    span.created(title="UTC")
                        = contribution.contributions.createdFormated
                .markdown
                    != contribution.contributions.markdownText
                    a(href="/profile/reply/"+contribution.contributions.id).btn.btn-default.reply
                        +fa("reply")
                        |  Reply
