//- (c)2015 by Gerald Wodni
if contributions
    .contribution-wrapper
        h2
            a(href="/profile/contribute"+contributions.path).btn.btn-default
                +fa("plus")
                |  Contribute
            | Contributions
        each contribution in contributions.items
            .preview.contribution-wrapper
                h2
                    +avatar( contribution.users, 48 )
                    = contribution.contributions.subject
                    span.created(title="UTC")
                        = contribution.contributions.createdFormated
                .markdown
                    != contribution.contributions.markdownText
