//- (c)2015 by Gerald Wodni

extends layout

block menu
    +menu

//- TODO: implement breadcrumbs to surf words, implement discussion for words

mixin system( name, link )
    .col-sm-6.col-md-4.system
        h3
            +elink( link, name )
        p
            block

mixin gnu
    .badge.gnu(title="GNU/Linux") GNU

mixin win
    .badge.win(title="Windows") WIN

mixin osx
    .badge.osx(title="Mac OS X") OSX

mixin android
    .badge.android(title="Android") Droid

mixin embedded
    .badge.embedded(title="Deeply embedded systems") µC

block content
    +box.forth
        .row
            .col-md-6
                h1
                    img(src="/images/forth.png",style="width:64px;height:auto")
                    | Forth
                h4
                    | An awesome stack based programming language, which is able to extend itself during runtime.
            .col-md-6
                code
                    | \ a comment followed by the shortest quine
                    br
                    b source type
                    br
                    br
                    | \ another shorty, hello world looks like that
                    br
                    b ." hello world"
                    br
                    br
                    | \ tell me, what else can we do? ask the system itself!
                    br
                    b words
                    |  \ this will yield all defined words

    +box.systems
        h1 EuroForth 2020
        h2 Online, 4.-6. September 2020
        p
            | The 36th EuroForth conference takes place in the Internet.
            br
            | And you can be part of it, 
            a(href="https://euro.theforth.net/" target="_blank")
                | sign up here if you want to attend,
            | or sit back and 
            a(href="https://www.twitch.tv/4ther" target="_blank")
                | watch it on twitch,
            | (chat questions will be relayed).
        p
            | If you cannot wait any longer, you can also 
            a(href="https://www.youtube.com/channel/UC_mpkwOO_1ILd66GUTNVPQg" target="_blank")
                | watch Forth Tagung 2020 on youtube (mostly german), 
            abbr(title="Video on Demand")
                | VODs
            |  from EuroForth will also be put there if you cannot attend live.
    +box.standard
        h1 Standard
        p
            | This is the official website of the Forth 2012 Standard, and Forth200x committee.
        p
            | You can browse and discuss the 
            a(href="/standard/words") standard words
            |  or dig deeper into the standard by 
            a(href="http://www.forth200x.org/documents/forth-2012.pdf",target="_blank") downloading
            |  or browsing it our 
            a(href="http://www.forth200x.org",target="_blank") workgroup website
            | .
        h2 Be part of a living standard
        p Become part of the decision making process and meet your fellow 
            a(href="/users") Forthers
            | .
        p Discuss the functions of website itself in the 
            a(href="/meta-discussion") Meta Discussion
            | .

        .row
            .col-sm-6
                h3 Latest contributions:
                ul.fa-ul.contribution-latest
                    each contribution in contributions
                        li
                            +fa("li fa fa-comment-o")
                            +latestContribution( contribution, "contributions" )
            .col-sm-6
                h3
                    a(href="/feeds/contributions",title="contribution feed").feed-icon
                        +fa("rss")
                    | Latest replies:
                ul.fa-ul.contribution-latest
                    each reply in replies
                        li
                            +fa("li fa fa-comments-o")
                            +latestContribution( reply, "replies" )
            .col-sm-12
                .contributions-latest-more
                    a(href="/contributions") View more…
        .row
            .col-sm-12
                h3 Open(active) contributions:
                ul.contributions-open
                    each openContribution in openContributions
                        li
                            a(href="/contributions/#{openContribution.contributions.type}/open")
                                span.count
                                    = openContribution[""].count
                                = contributionTypeName[ openContribution.contributions.type ]

    +box.systems
        h1 Systems
        p Forth is a highly interactive language with interactive compilation, that's why we call the compilers Forth Systems. The parser is always visible to the programmer! Here are some modern Forth Systems to get you started.

        .row
            +system( "Gforth", "https://www.complang.tuwien.ac.at/forth/gforth/Docs-html/" )
                | GNU Forth, completely free software.
                +embedded
                +gnu
                +android
                +win
                +osx

            +system( "VFX", "http://www.mpeforth.com/vfxwin.htm" )
                | The fastest code generator
                +embedded
                +gnu
                +win
                +osx

            +system( "SwiftForth", "http://www.forth.com/swiftforth/" )
                | Rock solid, kept simple and went to space
                +embedded
                +gnu
                +win
                +osx

            +system( "iForth", "http://home.iae.nl/users/mhx/i4faq.html" )
                | Parallel extensions, 11k+ advanced examples.
                +gnu
                +win
                +osx
        div.remark
            p
                | Many 
                a(href="/systems") more systems are listed here
                | .
            p
                | Please 
                +elink("/contact", "let us know")
                |  if a modern, actively developed system is missing in this list.

    +box.communities
        h1 Communities
        .row
            .col-sm-6.col-md-4
                +elink( "https://groups.google.com/forum/#!forum/comp.lang.forth", "comp.lang.forth" )
                p
                    | Ancient, yet highly active news group.
            .col-sm-6.col-md-4
                +elink( "http://forth-ev.de", "Forth e.V." )
                p
                    | Germany's leading Forth community, with members from Austria, Netherlands and USA.
            .col-sm-6.col-md-4
                +elink( "http://www.forth.org", "Forth Interest Group" )
                p
                    | Located in Silicon Valley, the first big Forth community.
            .col-sm-6.col-md-4
                +elink( "http://www.forth.hccnet.nl/", "HCC Forth" )
                p
                    | Netherlands' group of enthusiastic users of the Forth programming language.
            .col-sm-6.col-md-4
                +elink( "https://github.com/ForthHub", "ForthHub" )
                p
                    | Unites all Forth Programmers on GitHub.

    +box.miscellaneous
        h3 Miscellaneous information
        ul.fa-ul
            li
                +fa("li fa fa-info-circle")
                | All times and dates are UTC and formatted in 
                a(href="https://en.wikipedia.org/wiki/ISO_8601",target="_blank") ISO8601
                | .

