//- (c)2015 by Gerald Wodni

extends layout

block menu
    +menu

block title
    | Proposals

block content

    +box
        h1 Proposals
        .row
            .col-md-6
                p
                    | The main portion of proposals and committee work is on our sister-site 
                    +elink("http://www.forth200x.org", "http://www.forth200x.org")
                    | .
                    //br
                    //| Should it be decided by the committee we will migrate the (older) proposals.
                p
                    | 2018 we enabled the discussion of proposals directly on forth-standard.org .
                    br
                    | See list of proposals discussed on forth-standard.org below:
            .col-md-6
                h4
                    | How to write your own proposal 
                    b
                        +fa("exclamation-triangle").
                        |  New Proceedure
                    | :
                ol
                    li
                        | Start by reading 
                        a(href="http://www.forth200x.org/rfd-guide.html", target="_blank")
                            | How to write Forth extension RfDs
                    li
                        | Click this button and follow the instructions: 
                        br
                        a(href="/profile/proposals/add").btn.btn-default
                            +fa("plus")
                            |  Add Proposal

        h3 Proposals (most recent first)
        ul.fa-ul.contribution-latest
            each contribution in contributions
                li
                    +fa("li fa fa-comment-o")
                    - var link = contribution.contributions.url;
                    a(href=link+"#contribution-" + contribution.contributions.id)
                        div.user(title=contribution.users.name)
                            +gravatar(contribution.users.emailMd5, contribution.users.name, 40)
                        h5.document
                            = contribution.contributions.subject
                        h5.subject
                            | in 
                            = contribution.contributions.title
                        div.state
                            | State: 
                            if contribution[""].answerCount
                                | Discussion
                            else
                                | New
                        h5 Versions:
                        div.date
                            | V0: 
                            = contribution.contributions.createdFormated
                        if contribution[""].newVersionsId && contribution[""].newVersionsId.length
                            - newVersions = contribution[""].newVersionsId.split(",")
                            - newCreateds = contribution[""].newVersionsCreated.split(",")
                            each index in _.range( newVersions.length )
                                div.date
                                    a(href=link+"#reply-" + newVersions[index])
                                        | V
                                        = index+1
                                        | : 
                                        = newCreateds[index]

