//- (c)2020 by Gerald Wodni

extends layout

block menu
    +menu

block title
    = contributions[0].contributions.subject
    |  - Proposal

block content
    .container
        h1
            | Proposal: 
            = contributions[0].contributions.subject
        - var lastState = "informal"
        each reply in contributions[0].replies || []
            if reply.replies.newState !== null
                - lastState = reply.replies.newState
        +renderState( lastState ).big-state

        p This page is dedicated to discussing this specific proposal
        include contributions
