//- (c)2015 by Gerald Wodni

extends layout

block menu
    +menu

block title
    = word.name
    |  - 
    = word.list

block content
    +box-word
        h1= word.name
        each section in word.sections
            if section.name !== " "
                h2= section.name

            div!= section.html
