//- (c)2015 by Gerald Wodni

extends layout

block menu
    +menu

block title
    | Forth Standard

block content
    +box-document
        h1 Forth Standard
        p List of chapter 1-5
        p All Words: to Annex H
        ul.row.boxList
            each wordSetName in standard.sortedWordSets
                li.col-sm-4
                    a(href="/standard/#{wordSetName}").boxItem.wordSet
                        +fa("list").icon
                        .name
                            = wordSetName
