//- (c)2015 by Gerald Wodni

extends layout

block menu
    +menu

block content
    +box-document
        h1 Wordsets
        p Quick access to wordsets.
        ul.row.boxList
            each wordSetName in standard.sortedWordSets
                li.col-xs-4
                    a(href="/standard/#{wordSetName}").boxItem.wordSet
                        +fa("list").icon
                        .name
                            = wordSetName
